/* 1) შექმენით 7 პარაგრაფი რომელბშიც ჩამოწერთ თქვენთის სასურველ ფერებს, თითოეულ პარაგრაფს მიანიჭეთ იმავე ფერის id შემდეგ external css-ის გამოყენებით თითოეული პარაგრაფი გასტილეთ იმ ფერად რომელიც უწერია მას, გამოიყენეთ id selector. კომენტარებით დაწერეთ რამდენი ფერი არსებობს, რა არის RGB მოდელი, რისთვის გვჭირდება და როგორ განიმარტება */
#red {
    color: rgb(200, 0, 0);
}
#green {
    color: rgb(0, 100, 0);
}
#blue {
    color: rgb(0, 0, 50);
}
#yellow {
    color: rgb(255, 255, 0);
}
#purple {
    color: rgb(128, 0, 128);
}
#orange {
    color: rgb(255, 165, 0);
}
#pink {
    color: rgb(255, 192, 203);
}