/* 5) შექმენით თქვენი პროფილის მრავალგვერდიანი ვებსაიტი, რომელშიც გამოიყენებთ external css-ს */
p {
    font-size: 16px;
    color: #333;
}
h1, h2, h3 {
    color: #4CAF50;
}
a {
    color: #2196F3;
}